<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
    <h1> List of people
        <div th:each="person : ${people}">
            <p><a th:href="@{/people/{id} (id =${person.getId()}) }" th:text="${person.getName()}" ></a>
            <a th:href="@{/people/delete/{id} (id=${person.getId()} )}" th:text="delete"></a>
            <a th:href="@{/people/edit/{id} (id=${person.getId()} )}" th:text="edit"></a> </p>
        </div>
    </h1>


    <h2>
    You can <a href="/people/new">create new Person</a>
    </h2>

</body>
</html>